.q1-approval {
  background-color: blue !important;
  color: white !important;
  border: none !important;
}
.q1-approval p {
  margin-bottom: 0 !important;
}
.avg-approval {
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
}
.percentage-q1 {
  font-size: 35px;
  font-weight: lighter;
}
.q1-approval-total {
  border: none !important;
  background-color: #ffc361 !important;
}
.total-txt {
  font-size: 14px !important;
  font-weight: bold;
}
.total-count {
  font-size: 25px;
}
.q1-approval-yes {
  background-color: #00c7ca !important;
}
.q1-approval-no {
  background-color: #ff8396 !important;
}
